﻿@model List<WebApplicationKatarzynaBialas.Models.Pizza> 
@{
    ViewBag.Title = "Zamówienie";
}
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

<h2>Zamówienie</h2>
<table class="table table-striped" id="table">
    <thead>
        <tr>
            <th>LP.</th>
            <th>Nazwa</th>
            <th>Skladniki</th>
            <th>Vege</th>
            <th>Cena</th>
            <th>Dodaj</th>
            <th>Ilość</th>
        </tr>
    </thead>
    <tbody>

           @foreach (var Pizza in Model)
           {
               var name=Model.IndexOf(Pizza);
            <tr>
                <td>@(Model.IndexOf(Pizza) + 1)</td>
                <td id="@Pizza.Name">@Pizza.Name</td>
                <td id="@Pizza.Ingredients">@Pizza.Ingredients</td>
                @if (Pizza.VegeAlert)
                {
                    <td><span class="glyphicon glyphicon-leaf"></span></td>
                }
                else
                {
                    <td><span class="glyphicon glyphicon-piggy-bank"></span></td>
                }
                <td id="@Pizza.Price">@Pizza.Price</td>
                <td>    
                    <div class="checkbox">
                        <input type="checkbox" value="" onclick="ifCheckedBox(@name)" id="check-@name" />
                    </div>
                </td>
                <td id="column-@name">
                    <input type="text" id="amount-@name"  class="form-control"  style="height:30px;width:50px;visibility:hidden"/>
                </td>
            </tr>
           }

    </tbody>
</table>



<div>
    <button data-toggle="collapse" data-target="" class="btn btn-success btn-block" id="basketChecker" onclick="chceckEmptyBasketAndGetData()">
    Dodaj wybrane pozycje do koszyka
    </button>

    <div id="show1" class="collapse">
        <br />
        <h3>
            <p id="result"></p>
        </h3>
        <br/>
      @Html.ActionLink("Przejdź dalej ", "Basket", null, new { @class = "btn btn-primary btn-block"}) 
    </div>

    <div id="show2" class="collapse">
        <br />
        <h3>
            <span class="glyphicon glyphicon-shopping-cart">  Twój koszyk jest pusty lub podane ilości produktów są nieprawidłowe</span>
        </h3>
        <br />
    </div>
</div>



<script type="text/javascript">


    // co zrobic jak to naprawic:
    //zrobic plik skrypt.js gdzie przechowuje arraya
    // w summary odwolac się do niego i wyswietlic
    //z racji tego ze jest tam podlaczony wlasciwy model to w summary przekazac do bazy
    //dobrze by bylo polaczyc wlasciwego klienta z wlasciwym zamowieniem

    function ifCheckedBox(rowNumber)
    {
        var checkText = "check-";
        var amountText = "amount-";
        var check = document.getElementById(checkText.concat(rowNumber));
        var hidden = document.getElementById(amountText.concat(rowNumber));

            if (check.checked==true)
            {
                hidden.style.visibility = "visible";
            }
            else
            {
                hidden.style.visibility = "hidden";
                hidden.value = "";
            }
    }

    function howManyChecked()
    {
        var counter = 0;
        var index = 0;
        orderArray = new Array();
        orderID = 0;
        var tableElements = document.getElementById("table").getElementsByTagName('td');

        for (var i = 0; i < tableElements.length; i++)
        {
            //console.log(tableElements[i]); 
 
            if (tableElements[i].id == ("column-" + index))
            {
                var input = document.getElementById("amount-" + index);
                if (input.style.visibility == "visible" && input.value!="")
                {
                    var pizza =
                    {
                        "OrderID": orderID,
                        "PizzaName": tableElements[i-5].id.valueOf(),
                        "Ingredients": tableElements[i - 4].id.valueOf(),
                        "Price": tableElements[i - 2].id.valueOf(),
                        "Amount": input.value
                    };
                    orderArray.push(pizza);
                    counter++;
                    console.log(orderArray);
                }
                index++;
            }
        }
        //console.log("wynik: " + counter);
        orderID++;
        return counter;
    }

    function chceckEmptyBasketAndGetData()
    {
        var basketChecker = document.getElementById("basketChecker");
        var result = howManyChecked().valueOf();

        if(result>0)
        {
            basketChecker.setAttribute("data-target", "#show1");
            document.getElementById("result").innerHTML ="Dodano do koszyka: " + result + " pozycji";
        }
        else
        {
            basketChecker.setAttribute("data-target", "#show2");
        }
    }


</script>


<br /> <br /> <br />
<center>
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
    </ol>


    <div class="carousel-inner" role="listbox">

        <div class="item active">
            <img src="~/Foto/italia.jpg" width="500" height="300" class="img-rounded" alt="Pizza">
            <div class="carousel-caption">
                <p><b>Italia</b></p>
            </div>
        </div>

        <div class="item">
            <img src="~/Foto/farmerska.jpg" width="500" height="250" class="img-rounded" alt="Pizza">
            <div class="carousel-caption">
                <p><b>Farmerska</b></p>
            </div>
        </div>

        <div class="item">
            <img src="~/Foto/calzone.jpg" width="500" height="250" class="img-rounded" alt="Pizza">
            <div class="carousel-caption">
                <p><b>Calzone</b></p>
            </div>
        </div>

        <div class="item">
            <img src="~/Foto/hawajska.jpg" width="500" height="250" class="img-rounded" alt="Pizza">
            <div class="carousel-caption">
                <p><b>Hawajska</b></p>
            </div>
        </div>

        <div class="item">
            <img src="~/Foto/margherita.jpg" width="500" height="250" class="img-rounded" alt="Pizza">
            <div class="carousel-caption">
                <p><b>Margherita</b></p>
            </div>
        </div>

        <div class="item">
            <img src="~/Foto/peperoni.jpg" width="500" height="250" class="img-rounded" alt="Pizza">
            <div class="carousel-caption">
                <p><b>Peperoni</b></p>
            </div>
        </div>

        <div class="item">
            <img src="~/Foto/salami.jpg" width="500" height="250" class="img-rounded" alt="Pizza">
            <div class="carousel-caption">
                <p><b>Salami</b></p>
            </div>
        </div>

        <div class="item">
            <img src="~/Foto/tuna.jpg" width="500" height="250" class="img-rounded" alt="Pizza">
            <div class="carousel-caption">
                <p><b>Tuna</b></p>
            </div>
        </div>

        <div class="item">
            <img src="~/Foto/wiejska.jpg" width="500" height="250" class="img-rounded" alt="Pizza">
            <div class="carousel-caption">
                <p><b>Wiejska</b></p>
            </div>
        </div>

        <div class="item">
            <img src="~/Foto/capriciossa.JPG" width="500" height="250" class="img-rounded" alt="Pizza">
            <div class="carousel-caption">
                <p><b>Capriciosa</b></p>
            </div>
        </div>
    </div>


    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

</center>