﻿@model WebApplicationKatarzynaBialas.Models.Client

@{
    ViewBag.Title = "Dziękujemy";
}
<br />
<h2>Krok 4</h2>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="100"
         aria-valuemin="0" aria-valuemax="100" style="width:100%">
        100%
    </div>
</div>

<h2>Dziękujemy za złożenie zamówienia!</h2>

<div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Indicates a successful or positive action.
</div>



