﻿
@{
    ViewBag.Title = "Kredek app";
}

<div class="jumbotron">
    <h1 align="center">Witaj na Pizza Store!</h1>
    <br />
    <font size="4">
        <i>
            <p>Pizza Store to miejsce z ponad dwudziestoletnią tradycją, w której dominuje smak kuchni włoskiej. Tu znajdziesz smak włoskich ziół i zapach świeżo upieczonej pizzy. </p>
            <p>Zapraszamy do przytulnych wnętrz naszej strony internetowej, gdzie na Państwa oczach przygotujemy i upieczemy pizzę w piecu opalanym drewnem – pierwszym tego typu w Internecie. </p>
            <p>Dla zapracowanych Pizzeria  oferuje bezpłatną dostawę na wynos... </p>
        </i>
    </font>
</div>

<center>
    
    <marquee><h1 class="text-info">Pizza Store! - Z miłości do Pizzy!</h1></marquee>
    <br /> <br />

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>


        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/pizzeriaStart.jpg" width="850" height="500" class="img-rounded" alt="Pizza">
                <div class="carousel-caption">
                    <h2>Smak...</h2>
                    <p><b>Jedyna i niepowtarzalna włoska receptura.</b></p>
                </div>
            </div>

            <div class="item">
                <img src="~/pizzeriaStart4.jpg" width="850" height="500" class="img-rounded" alt="Pizza">
                <div class="carousel-caption">
                    <h2>Zdrowie...</h2>
                    <p><b>Wyselekcjonowane i zawsze świeże warzywa od lokalnych dostawców.</b></p>
                </div>
            </div>

            <div class="item">
                <img src="~/pizzeriaStart2.jpg" width="850" height="500" class="img-rounded" alt="Pizza">
                <div class="carousel-caption">
                    <h2>..Ciepło</h2>
                    <p><b>Każda pizza pieczona w naturalnym kaflowym piecu.</b></p>
                </div>
            </div>

            <div class="item">
                <img src="~/pizzeriaStart3.jpg" width="850" height="500" class="img-rounded" alt="Pizza">
                <div class="carousel-caption">
                    <h2>Po prostu pysznie!</h2>
                    <p><b>Zakochaj się w różnorodności naszych pizz.</b></p>
                </div>
            </div>
        </div>


        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <br />
    <br />
</center>
<h3>Kontakt</h3>
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <b>Restauracja:</b>
    </div>
    <div class="col-md-4">
        Gdzieś w Internecie
    </div>
    <div class="col-md-4">
        <a href="mailto:biuro@pizzastore.com">biuro@pizzastore.com</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <b>Godziny otwarcia:</b>
    </div>
    <div class="col-md-4">
        pn-nd, od 6:00- 26:00
    </div>
    <div class="col-md-4" id="isbn">
       tel: 00011100011
    </div>
</div>


