﻿@model List<WebApplicationKatarzynaBialas.Models.Pizza>
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

@Html.ActionLink("Dodaj pizze", "Add", null, new { @class = "btn btn-success" })


<table class="table table-striped">
    <thead>
        <tr>
            <th>LP.</th>
            <th>Nazwa</th>
            <th>Skladniki</th>
            <th>Vege</th>
            <th>Cena</th>
            <th>Akcje</th>
        </tr>
    </thead>
  
    <tbody>

            @foreach (var Pizza in Model)
            {
               <tr>
                    <td>@(Model.IndexOf(Pizza)+1)</td>
                    <td>@Pizza.Name</td>
                    <td>@Pizza.Ingredients</td>
                   @if (Pizza.VegeAlert)
                   {
                       <td><span class="glyphicon glyphicon-leaf"></span></td>
                   }
                   else
                   {
                    <td><span class="glyphicon glyphicon-piggy-bank"></span></td>
                   }
                    <td>@Pizza.Price</td>
                    <td>
                            @Html.ActionLink("Edytuj", "Edit", new { id = Pizza.ID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Usuń", "Delete", new { id = Pizza.ID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            
            }
                 
    </tbody>
</table>

